body {
    font-family: sans-serif;
}
.card {
    box-shadow: 1px 1px 7px 0px #BBC;
    border-radius: 5px;
    margin: 25px;
    padding: 30px;
    min-height: 500px;
    position: relative;
    overflow: hidden;
}
.card .label {
    background-color: red;
    color: white;
    transform: rotate(45deg);
    padding: 5px 40px 5px 50px;
    position: absolute;
    right: -44px;
    top: 45px;
    text-transform: uppercase;
    box-shadow: 0 0 3px 1px #bbb;
}
.standard {
    background-color: #ededed;
    color: #444;
    min-height: 100px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
    padding: 20px 0;
}
.card .standard span {
    color: #999;
}
.card .standard span::before {
    content: "$29.00";
    color: #0d4af2;
    font-size: 30px;
    font-weight: bold;
}
.card ul {
    list-style: none;
    line-height: 50px;
    color: #444;
    margin-top: 50px;
}
.card ul li::before {
    content: "\2714";
    color: green;
}
.card button {
    background-color: #0d4af2;
    background: linear-gradient(to right, #0d4af2 60%, #7ab2e0);
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 30px;
}
.card button a {
    text-decoration: none;
    color: white;
    text-transform: uppercase; 
}